# FacePay root ignore
FacePayMobile/node_modules/
FacePayMobile/.expo/
FacePayMobile/.expo
FacePayMobile/.expo-shared/
FacePayMobile/npm-debug.log*
FacePayMobile/yarn-error.log
FacePayMobile/.env*
FacePayMobile/.DS_Store
